apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-service
  namespace: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users-service
  template:
    metadata:
      labels:
        app: users-service
    spec:
      automountServiceAccountToken: false
      containers:
        - name: users-service
          image: users-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3001
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"